<form class="{{cssClass}} pad" autocomplete="off">
  <div class="fullCard">
    <header style="font-size: 2em; width: 100%; display: flex">
      <input
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="Requisition name"
        style="margin-right: 10px"
      />
      <input
        name="system.reference"
        type="text"
        value="{{system.reference}}"
        title="{{localize " TA.PlaywallReference"}}"
        style="
          width: 50px;
          text-align: center;
          background-color: #c8202f;
          text-transform: uppercase;
          color: white;
        "
        oninput="this.value = this.value.toUpperCase()"
      />
    </header>

    <div class="flexrow pad">
      <div>
        <label for="system.cost">
          <img
            src="systems/triangleagency/assets/icons/commendation.svg"
            style="display: inline-block; width: 24px; height: 24px"
          />
          {{localize "TA.Requisition.Cost"}}
        </label>
        <input
          name="system.cost"
          type="number"
          value="{{system.cost}}"
          min="0"
          max="999"
          maxlength="3"
          oninput="this.value = this.value.slice(0, this.maxLength)"
        />
      </div>
      <div>
        <label for="unlimited">
          <input id="unlimited" type="checkbox" name="system.unlimited" {{checked system.unlimited}} />
          {{localize "TA.Requisition.Unlimited"}}
        </label>

        {{#unless system.unlimited}}
        <label for="system.missionUses">{{localize "TA.Requisition.MissionUses"}}</label>
        <input
          name="system.missionUses"
          type="number"
          value="{{system.missionUses}}"
          min="0"
          max="33"
          maxlength="2"
          oninput="this.value = this.value.slice(0, this.maxLength)"
        />
        {{/unless}}
      </div>
    </div>

    <div class="pad" style="min-height: 20lh">{{editor system.description target="system.description" engine="prosemirror" button=true editable=editable }}</div>
  </div>
</form>