<form class="{{cssClass}} reality" autocomplete="off">
  <div class="fullCard">
    <header style="font-size: 2em; font-weight: bold">
      <input name="name" type="text" value="{{item.name}}" placeholder="Reality name" />
    </header>

    <div class="pad">{{editor system.description target="system.description" engine="prosemirror" button=true editable=editable }}</div>

    <fieldset>
      <legend class="reality">Relationship Prompts</legend>
      <div>
        <div>
          <input
            id="system.relationships.question1"
            name="system.relationships.question1"
            type="text"
            value="{{system.relationships.question1}}"
            placeholder="Question"
          />
        </div>
        <div>
          <input
            id="system.relationships.question2"
            name="system.relationships.question2"
            type="text"
            value="{{system.relationships.question2}}"
            placeholder="Question"
          />
        </div>
        <div>
          <input
            id="system.relationships.question3"
            name="system.relationships.question3"
            type="text"
            value="{{system.relationships.question3}}"
            placeholder="Question"
          />
        </div>
      </div>
    </fieldset>

    <div
      style="
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 100%;
        margin: 10px 0 10px 0;
      "
    >
      <fieldset>
        <legend class="reality">Burnout Release</legend>
        <div>
          <input
            name="system.burnoutRelease.blurb"
            type="text"
            value="{{system.burnoutRelease.blurb}}"
            placeholder="Title"
            class="header"
          />
          <textarea
            name="system.burnoutRelease.description"
            rows="5"
            cols="10"
            wrap="soft"
            placeholder="What enables you to ignore Burnout"
          >
{{system.burnoutRelease.description}}</textarea
          >
        </div>
      </fieldset>

      <fieldset>
        <legend class="reality">{{localize "TA.Reality.RealityTrigger"}}</legend>
        <div>
          <input
            name="system.realityTrigger.blurb"
            type="text"
            value="{{system.realityTrigger.blurb}}"
            placeholder="Title"
            class="header"
          />
          <textarea
            name="system.realityTrigger.description"
            rows="7"
            cols="10"
            wrap="soft"
            placeholder="The vulnerability that Anomalies will exploit"
          >
{{system.realityTrigger.description}}</textarea
          >
        </div>
        <div>
          <label><b>{{localize "TA.Reality.TriggerTrack"}}</b>:</label>
          <input
            name="system.realityTrigger.track.name"
            type="text"
            value="{{system.realityTrigger.track.name}}"
            placeholder="Track name"
            style="width: 200px"
          />
        </div>
      </fieldset>
    </div>
  </div>
</form>