<form class="{{cssClass}}" autocomplete="off">
  <nav class="flexrow tabbed round" data-group="primary" id="competency-tabs">
    <ul>
      <li data-tab="main">{{localize "TYPES.Item.Sponsorship"}}</li>
    </ul>
  </nav>

  <div class="tab-content flexrow manilla-folder">
    <div class="tab active" data-group="primary" data-tab="main">
      <div class="tab-workarea" style="height: 440px; padding: 10px">
        <div>{{{localize "TA.Sponsorship.Description"}}}</div>

        <div style="margin-top: 10px">
          <textarea
            name="system.requirements.s1"
            type="text"
            placeholder="{{localize "TA.Sponsorship.Tribute"}}"
            autofocus
          >
{{system.requirements.s1}}</textarea
          >
        </div>
        <div style="margin-top: 10px">
          <textarea name="system.requirements.s2" type="text" placeholder="{{localize "TA.Sponsorship.Tribute"}}">
{{system.requirements.s2}}</textarea
          >
        </div>
        <div style="margin-top: 10px">
          <textarea name="system.requirements.s4" type="text" placeholder="{{localize "TA.Sponsorship.Tribute"}}">
{{system.requirements.s4}}</textarea
          >
        </div>
        <div style="margin-top: 10px">
          <textarea name="system.requirements.s5" type="text" placeholder="{{localize "TA.Sponsorship.Tribute"}}">
{{system.requirements.s5}}</textarea
          >
        </div>
        <div style="margin-top: 10px">
          <textarea
            name="system.requirements.s7"
            type="text"
            placeholder="{{localize "TA.Sponsorship.Tribute"}}"
          >
{{system.requirements.s7}}</textarea
          >
        </div>
        <div style="margin-top: 10px">
          <textarea
            name="system.requirements.s8"
            type="text"
            placeholder="{{localize "TA.Sponsorship.Tribute"}}"
          >
{{system.requirements.s8}}</textarea
          >
        </div>
      </div>
    </div>
  </div>
</form>